

body{
    background-image: url("nature.jpg") ;
    background-size: cover;
    background-position: right;
     
    
}
div{
    font-size: 25px;
    height: 550px;
    width: 50%;
    font-family: lato;
    color: darkblue;
     background-color: rgba(255, 255, 255, 0.8);
     margin: 20px;
    padding: 30px 50px;
}
h1{
    background-color: white;
    box-shadow: 0,5px 0,5px 5px darkblue;
    text-align: center;
    font-weight: bold;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}    
p{
    font-weight:300px;
}

.par {
    border:1px solid black;
    }

mark{
    background-color: rgb(35, 35, 218);
}
.blanc{ 
 color:white;
}
.bleu{
    color: aquamarine;
}
#d{ 
    background-color: aqua;
    color: blue;
}
/*
ligne-height= 36 px;
separateur entre les lignes de paragraphe