
.warning {
   
    border: 10px ridge white;
    background-color: rgb(73, 26, 73);

    
}
h1{
    color: white;
    font-family: 'roboto',sans-serif;
    font-weight: 300;
}

span {

    font-weight: bold;
    font-size: 24pt;
}

ol{
    background-color: brown;
    color: rgb(199, 199, 15);
}