/*.container{
height: 90vh;
border: 4px solid black;
margin: 20px;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.childOne{
    background-color: red;
    padding: 1.5rem 2.5rem;

}
.childTwo{
    background-color: yellow;
    padding: 1.5rem 2.5rem;

}
.childThree{
    background-color: green;
    padding: 1.5rem 2.5rem;
}

/*exercice2 
.container{
 height: 90vh;
border: 4px solid black;
margin: 20px;
display: flex;
flex-direction: row-reverse;
align-items: flex-end;

}*/
/*
exercice3
.container{
    height: 90vh;
    border: 4px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    align-items: center; 
    }*/ 
    /*
exercice4 
.container{
    height: 90vh;
    border: 4px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;   
    
    }*/
    /*exercice5 
.container{
    height: 90vh;
    border: 4px solid black;
    margin: 20px;
    display: flex;
    align-items: flex-end;   
    justify-content: space-between;
    }*/
 /*exercice6*/ 
 .container{
    height: 90vh;
    border: 4px solid black;
    margin: 20px;
    display: flex;
   /* flex-direction: column-reverse; */
    justify-content: space-around;
    align-items: flex-end;
}

     
    
    
    .childOne{
        background-color: red;
        text-align: center;
        padding: 1.5rem 2.5rem;
    
    }
    .childTwo{
        background-color: yellow;
        align-self: center;
        padding: 1.5rem 2.5rem;
        text-align: center;
    
    }
    .childThree{
        background-color: green;
       align-self: flex-start;
        text-align: center;
        padding: 1.5rem 2.5rem;
    }