
/*ex1
.container{
    height: 90vh;
    width: 70%;
      border: 4px solid darkblue;
    margin: 20px;
    background-color:rgb(0, 251, 255);
  
}
img{
  width: 700px;
  position: absolute;
  right: 0;
  top: 0;

}
h1{
    color: white;
}*/
/*exercice2
.container{
    height: 90vh;
    width: 70%;
    border: 4px solid darkblue;
    margin: 20px;
    background-color:rgb(0, 251, 255);
    position:relative;
  
}
img{
  width: 700px;
  position: absolute;
  right: 0;
  top: 0;
}
h1{
    color: white;
}
*/
/*exercice3
.container{
    height: 90vh;
    width: 70%;
    border: 4px solid darkblue;
    margin: 20px;
    background-color:rgb(0, 251, 255);
    position:relative;
  
}
img{
  width: 700px;
  position: absolute;
  right: 0;
  top: 0;
}
h1{
    color: white;
    position: absolute;
    top: 160px;
    right: 70px;

}
/*exercice4*/
.container{
    height: 90vh;
    width: 70%;
    border: 4px solid darkblue;
    margin: 20px;
    background-color:rgb(0, 251, 255);
    position:relative;
  
}
.header{
    background-color: palevioletred;
    height: 100px;
    min-width: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
   
}
.modification{
    width: 100px;
    font-size: 30px;

}
img{
  width: 700px;
  position: absolute;
  right: 0;
  top: 0;
}
h1{
    color: white;
    position: absolute;
    top: 160px;
    right: 70px;

}*/

