.container{
    height: 90vh;
    border:5px solid black;
    margin: 20px;

}
.container div{
    height: 200px;
    width: 200px;
    /* font style*/
    font-weight: bold;
    font-size: 30px;
    /* position enfant*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-child{
    background-color: red;
}
.yellow-child{
    background-color: yellow;

}
.green-child{
    background-color: green;

}
/*exercice 1*/
.exo1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*exercice 2*/
.exo2{
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
}
/*exercice 3*/
.exo3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    
}
/*exercice 4*/
.exo4{
    display: flex;
    flex-direction: column;
    justify-content: end;   
    
}
/*exercice5*/
.exo5{
    display: flex;
    align-items: flex-end;   
    justify-content: space-between;
    
}
/*exercice6*/
.exo6{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.exo6 .yellow-child{
    align-self: center;

}
.exo6 .green-child{
    align-self: flex-start;
}